<table class="table table-dark table-hover table-striped" style="margin: 0px 2px">
  <thead>
    <tr>
      <th scope="col">Players</th>
      <th scope="col">Title</th>
      <th scope="col">Average Lobby Points</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% lobbies.each do |lobby| %>
    <tr>
      <th scope="col"><%= lobby.users.count %> / 4</th>
      <th scope="col"><%= lobby.name %></th>
      <th scope="col"><%= lobby.avg_points %></th>
      <% if !lobbies_page %>
        <th scope="col"><%= button_to "View", lobby, method: :get, class: "btn btn-primary" %></th>
      <% else %>
        <% if lobby.is_full %>
          <th scope="col">
            <%= button_to "View", lobby, method: :get, class: "btn btn-primary" %>
          </th>
        <% elsif lobby.users.include? Current.user %>
          <th scope="col">
            <%= button_to "View", lobby, method: :get, class: "btn btn-primary" %>
          </th>
        <% else %>
          <th scope="col">
            <%= form_for @user_in_lobby do |form| %>
              <%= form.hidden_field :lobby_id, value: lobby.id %>
              <%= form.hidden_field :user_id, value: Current.user.id %>
              <%= form.submit "Join", class: "btn btn-primary" %>
            <% end %>
          </th>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>