<h1>Lobbies</h1>

<p><%= flash[:error] %></p>

<ul>
  <% @lobbies.each do |lobby| %>
    <li>
      <%= lobby.name %>

      <% if lobby.is_full %>
        Full
        <%= button_to "View", lobby, :method => "get" %>
      <% else %>
        Players: <%= lobby.user_in_lobbies.count %> / 4
        <%= form_for @user_in_lobby do |form| %>
          <%= form.hidden_field :lobby_id, value: lobby.id %>
          <%= form.hidden_field :user_id, value: Current.user.id %>
          <%= form.submit "Join" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>