<div tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a new lobby</h5><br>
      </div>
      <div class="modal-body">
        <%= render partial: "shared/errors", locals: {user: @user} %>
        <%= form_for @lobby do |form| %>
          <div class="col-md-9">
            <%= form.hidden_field :lobby_id, value: @lobby.id %>
            <%= form.hidden_field :user_id, value: Current.user.id %>
            <%= form.hidden_field :host_id, value: Current.user.id %>

            <%= form.label :name, class: "form-label" %>
            <%= form.text_field :name, class: "form-control" %><br><br>
          </div>

          <%= form.submit "Create Lobby", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
