<h1>Create a new lobby</h1>

<%= render partial: "shared/errors", locals: { user: @lobby } %>

<div class="new-form-page">
  <%= form_for @lobby do |form| %>
    <%= form.hidden_field :lobby_id, value: @lobby.id %>
    <%= form.hidden_field :user_id, value: Current.user.id %>
    <%= form.hidden_field :host_id, value: Current.user.id %>

    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.submit "Create Lobby", class: "btn btn-primary" %>
  <% end %>
</div>