<%= render partial: "shared/errors", locals: { user: @user }  %>

<div class="card mx-auto d-block" style="width: 18rem;">
  <% if Current.user.avatar.attached? %>
    <%= image_tag(Current.user.avatar, alt: "profile-icon", class: "card-img-top mx-auto d-block", style: "height: 150px;width: 150px;") %>
  <% else %>
    <%= image_tag("profile-icon.png", alt: "profile-icon", class: "card-img-top mx-auto d-block", style: "height: 150px;width: 150px;") %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= @user.username %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @user.email %></li>
    <li class="list-group-item">Current point count: <%= @user.points %></li>
  </ul>
  <div class="card-body">
    <%= button_to "Edit Profile", edit_user_path(Current.user), method: :get, class: "btn btn-primary mx-auto d-block" %>
  </div>
</div>