<% if session[:user_id] %>
  <h2>Welcome, <%= @user.username %></h2>
<% else %>
  <h2>Welcome Stranger!</h2>
<% end %>

<p><%= flash[:error] %></p>

<div class="users">
  <% @users.each do |user| %>
    <li>
      <% if user.avatar.attached? %>
        <%= image_tag(user.avatar, alt: "profile-icon", style: "height: 50px;width: 50px;") %>
      <% else %>
        <%= image_tag("profile-icon.png", alt: "profile-icon", style: "height: 50px;width: 50px;") %>
      <% end %>
      <%= user.username %>
      Points: <%= user.points %>
    </li>
  <% end %>
</div>

<div class="lobbies">
  <% @lobbies.each do |lobby| %>
    <li>
      <%= lobby.name %>
      Players: <%= lobby.users.count %> / 4
    </li>
  <% end %>
</div>
