<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Vsus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="logo">
      <div class="rounded mx-auto d-block" style="width:80%">
        <%= image_tag("logo.png", alt: "logo", class: "center rounded mx-auto d-block") %>
        <% if Current.user && Current.user.avatar.attached? %>
          <%= link_to image_tag(Current.user.avatar, alt: "profile-icon", class: "profile-icon float-end"), user_path(Current.user.id) %><br><br>
          <p class="float-end">Points: <%= Current.user.points %> </p>
        <% elsif Current.user %>
          <%= link_to image_tag("profile-icon.png", alt: "profile-icon", class: "profile-icon float-end"), user_path(Current.user.id) %><br><br>
          <p class="float-end">Points: <%= Current.user.points %> </p>
        <% end %>
      </div>
    </header>
    <nav>
      <ul class="navbar-ul">
        <li class="navbar-li"><%= link_to "Home", root_url %></li>
        <li class="navbar-li"><%= link_to "Lobbies", lobbies_path %></li>
        <li class="navbar-li"><%= link_to "Leaderboards", leaderboards_url %></li>
        <% if Current.user && Current.user.admin %>
          <li class="navbar-li"><%= link_to "Admin View", admin_index_url %></li>
        <% end %>
        <% if !Current.user %>
          <li class="navbar-li"><%= link_to "Login", login_url %></li>
        <% else %>
          <li class="navbar-li" style="float:right"><%= link_to "Logout", logout_path, method: :destroy %></li>
        <% end %>
      </ul>
    </nav>
    <div class="body">
      <%= yield %>
    </div>
  </body>
</html>
