<!DOCTYPE html>
<html>
  <head>
    <title>Vsus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="logo">
      <div class="row">
        <div class="column" style="width:80%">
          <%= image_tag("logo.png", alt: "logo", class: "center") %>
        </div>
        <div class="column" style="float:right">
          <%= link_to image_tag("profile-icon.png", alt: "profile-icon", class: "profile-icon"), user_path(session[user.id]) %>
          <p>Points: </p>
        </div>
      </div>
    </header>
    <nav>
      <ul class="navbar-ul">
        <li class="navbar-li"><%= link_to "Home", root_url %></li>
        <li class="navbar-li"><%= link_to "Lobbies", lobbies_path %></li>
        <li class="navbar-li"><%= link_to "Leaderboards", leaderboards_url %></li>
        <li class="navbar-li"><%= link_to "Admin View", admin_index_url %></li>
        <li class="navbar-li"><%= link_to "Login", leaderboards_url %></li>
        <li class="navbar-li" style="float:right"><%= link_to "Logout", leaderboards_url %></li>
      </ul>
    </nav>
    <div class="body">
      <%= yield %>
    </div>
  </body>
</html>
